html(lang="en")
  include layouts/header
  body.container-sm
    .d-flex
      h1.mr-auto List of guests
      a(href="/").mb-auto.btn.btn-outline-primary &larr; New RSVP
    - var attending = users.filter(user => user.attending === true)
    - var notAttending = users.filter(user => user.attending === false)
    .row
      .col-sm.m-3.p-3#attending
        h2 Attending
        each user in attending
          ul.list-unstyled.pl-3
            li= "Name: " + user.name
            li= "Email: " + user.email
            li= "# of guests: " + user.guests
      .col-sm.m-3.p-3#notattending
        h2 Not attending
        each user in notAttending
          ul.list-unstyled.pl-3
            li= "Name: " + user.name
            li= "Email: " + user.email
    include layouts/bootstrap-js